video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.mainpart-container {
    /* background: url('https://images.pexels.com/photos/4340036/pexels-photo-4340036.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') center center/cover no-repeat; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}